*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: lato, sans-serif;
}

body{
	background-color: #FEFEFA;
}

/* ~~ Header */
.header{
	width: 100%;
	height: 100px;
	display: block;

}

.inner_header{
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}


.logo_container h1{
	color: black;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: montserrat, serif;
	font-size: 32px;
}

.header .inner_header .logo_container img{
	width: 150px;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

.navigation{
	float: right;
	height: 100%;
}

.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a:last-child{
	padding-right: 0;
}

.navigation a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: black;
	font-family: Lato, sans-serif;
	font-size: 16px;
}

.navigation a li:hover{
	color: lightcoral;
}

/* ~~ Image Box ~~ */
h3{
	font-family: montserrat, serif;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-family: lato, sans-serif;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

/* ~~ Footer ~~ */

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding-right: 70px 0;
  box-sizing: border-box;
}

.inner_footer{
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
	padding: 20px;
    text-align: center;
}

.footer .inner_footer p{
	font-family: lato;
	font-size: 12px;
	color:grey;
}



